
.idea/tg bot.iml
.idea/vcs.xml
__pycache__/defines.cpython-38.pyc
__pycache__/generator.cpython-38.pyc
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/Jacque_Frescobot.iml
.idea/modules.xml
